{% extends "base.html" %}

{% block content %}
        <form action="" method="post" novalidate>
        %% form.hidden_tag() %%
        <p>
            %% form.header.label %%<br>
            %% form.header(size=64, placeholder=task.header) %%<br>
            {% for error in form.header.errors %}
            <span style="color: red;">[%% error %%]</span>
            {% endfor %}
        </p>
        <p>
            %% form.body.label %%<br>
            %% form.body(size=256, placeholder=task.body) %%<br>
            {% for error in form.body.errors %}
            <span style="color: red;">[%% error %%]</span>
            {% endfor %}
        </p>
        <p>%% form.is_done() %% %% form.is_done.label %%</p>
        <p>%% form.submit() %%</p>
        or  <a href="%% url_for('delete_task', id=task.id) %%" style="float: right" type="text">delete</a>
    </form>
{% endblock %}